@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Montez);

.button {
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 2px;
  width: 48%;
  float: left;
  display: block;
  margin: -98px auto;
  margin-left: 340px;
  padding: 15px 0;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  background-color: #ce3d3d;
  box-shadow: #bd2e2e;
  transition: 0.5s ease;
  

}

.button:hover {
  box-shadow: -15px 0 70px -15px #bb1010, 15px 0 70px -15px #ff3700;
}

.text {
  color: #801515;
  margin-top: 20px;
}

/*button yes and no-------------*/
.btn-7 {
  padding: 10px 30px;
  border: none;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
  background: #fe90a2;
  border-radius: 5px;
  min-width: 40px;
  color: #fff;
  z-index: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s;
  font-weight: 500;
}

.btn-7::before {
  content: " ";
  position: absolute;
  display: block;
  top: 0;
  left: -50px;
  width: 70%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #ffffff75);
  transition: all 1s;
  z-index: -1;
  transform: translateX(-120px) skew(-20deg);
}

.btn-7:hover {
  background: #8b0000;
}

.popup {
  opacity: 0;
  visibility: hidden;
  height: 150px;
  width: 330px;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  background: linear-gradient(to right, #c9ffbf, #ffafbd);
  position: relative;
  left: 320px;
  bottom: 120px;
}

.content2-wrapper {
  position: absolute;
  border: #0f0f10;
}

body.active .popup {
  opacity: 1;
  visibility: visible;
}

.content2-wrapper {
  text-align: center;
}
.butNone {
  all: revert;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* h2{
	font-size: 25px;
	letter-spacing: 0.08em;
	color: #3974cb;
	
} */

.signup-form .form-control {
  font-size: 16px;
  padding: 10px 15px;
  color: rgb(203, 203, 203);
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
}

.signup-form input {
  border: 1px solid #eee;
  height: 38px;
  box-shadow: none !important;
}

.btn-blue {
  background: #4d84d5;
  padding: 10px 28px;
  border: 2px solid #44c5ee;
  color: #fff;
  border-radius: 80px;
  font-weight: 700;
  letter-spacing: 0.08em;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  box-shadow: 0px 0px 60px 0px rgba(68, 197, 238, 0.6);
  outline: none !important;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
  background: #dfecff;
  color: #496174;
}

html,
body {
  margin: 0;
  font-size: 100%;
  background: linear-gradient(to right, #f3e7e9, #e3eeff);
  font-family: "Monserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Monserrat", sans-serif;
}

p {
  margin: 0;
  letter-spacing: 1px;
  font-size: 0.9em;
  color: #595a5a;
}

ul {
  margin: 0;
  padding: 0;
}

label {
  margin: 0;
}

.content.white {
  background: linear-gradient(to right, #f3e7e9, #e3eeff);
  padding: 1em 0;
}

.navbar-default {
  background: linear-gradient(to right, #f3e7e9, #e3eeff);
  border-color: none;
}

h3.tittle {
  color: #74abff;
  margin: 0;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.33);
}

.inner_sec_grids_info_w3ls {
  margin-top: 4em;
}

/*-------------------------*/
.signin-form {
  padding: 0em 1em 1em 1em;
  text-align: center;
}
*/ .signin-form input[type="email"],
.signin-form input[type="text"],
.signin-form input[type="password"],
.signin-form textarea {
  width: 100%;
  padding: 1em 1em 1em 1em;
  font-size: 0.8em;
  margin: 0.5em 0;
  outline: none;
  color: #212121;
  border: none;
  letter-spacing: 1px;
  text-align: left;
  background: #e3eeff;
  min-height: 33px;
  border-bottom: 2px solid #628ecf;
}

.signin-form input[type="email"] {
  border: none;
  background: #e3eeff;
  min-height: 33px;
  border-bottom: 2px solid #628ecf;
  height: fit-content;
  display: block;
}

.signin-form input[type="text"] {
  background: none;
  display: block;
}

.signin-form input[type="password"] {
  border: none;
  background: #e3eeff;
  min-height: 33px;
  border-bottom: 2px solid #628ecf;
  height: fit-content;
  display: block;
}

.signin-form input[type="submit"] {
  outline: none;
  padding: 0.8em 0;
  width: 100%;
  text-align: center;
  font-size: 1em;
  margin-top: 1em;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  background: #628ecf;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.signin-form input[type="submit"]:hover {
  color: #fff;
  background: #f094a4;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.signin-form p a {
  font-size: 1em;
  color: #175ec8;
  letter-spacing: 1px;
  font-weight: 600;
}

.login-social-grids {
  margin: 3em 0 1.5em 0;
}

.login-social-grids ul {
  padding: 0;
  margin: 0;
}

.login-form-rec {
  margin: 0 auto;
  width: 45%;
}

h3.tittle.three {
  font-size: 2em;
  color: #628ecf;
}

p.reg {
  margin-top: 3em;
}
.email {
  color: #000000;
  font-size: large;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.inner_page_agile {
  text-align: center;
  background: linear-gradient(to right, #f3e7e9, #e3eeff);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 255px;
  padding-top: 6em;
}

.inner_page_agile h3 {
  color: #628ecf;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
  letter-spacing: 1px;
  font-family: "Monserrat", sans-serif;
}

.inner_page_agile p {
  color: #628ecf;
  letter-spacing: 6px;
  font-size: 0.9em;
  margin-top: 10px;
  font-family: "Monserrat", sans-serif;
}

.services-breadcrumb_w3layouts {
  width: 100%;
  margin-top: -50px;
  border: none;
  padding: 1em 0;
  background: linear-gradient(to right, #f0dbde, #e3eeff, #ecc3c9);
  background-size: 400% 400%;
  animation: services-breadcrumb_w3layouts 10s infinite ease-in-out;
}
@keyframes services-breadcrumb_w3layouts {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.services-breadcrumb_w3layouts ul li span {
  padding: 0 1.5em;
}

ul.short_w3ls li {
  list-style: none;
  display: inline-block;
  text-indent: 70px;
}

.inner_breadcrumb {
  width: 80%;
  margin: 0 auto;
}

.home {
  color: #74abff;
  text-decoration: none;
}

/* ul.Logoutbtn li a {
	color: #74abff;
	text-decoration: none;
}
ul.Logoutbtn li {
	list-style: none;
	display: inline-block;
  text-indent: 900px;
} */

.inner_content_info_agileits {
  padding: 6em 0;
}

.footer_top_agileits {
  background: none;
  padding: 4em 0;
  border-width: 2px;
  border-top: 3px dotted black;
}

.footer_bottom1 a {
  display: inline-block;
}

.footer_w3ls {
  background: #0f0f10;
}

.footer_bottom {
  padding: 2em 0;
}

.footer_bottom1 p {
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  margin-top: 1em;
}

.footer_bottom1 h2 {
  font-size: 2.2em;
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
  color: #fff;
  font-weight: 700;
}

.footer_grid h3,
.footer_grid_left h3 {
  font-size: 1.4em;
  color: #628ecf;
  position: relative;
  margin-bottom: 1.5em;
  font-weight: 600;
  letter-spacing: 1px;
}

.footer_grid_list li,
.address li {
  display: block;
  margin-bottom: 1em;
}

.footer_grid_list li:last-child,
.address li:last-child {
  margin-bottom: 0;
}

.address li {
  color: #8b8b96;
}

.address li i {
  margin-right: 1.5em;
  color: #fff;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #4b4b50;
}

.address li span {
  display: block;
  margin-left: 4em;
  letter-spacing: 1px;
  font-size: 0.9em;
}

.footer_grids {
  margin: 3em 0 0 0;
}

body {
  background: linear-gradient(to right, #f3e7e9, #e3eeff);
  font-family: Lato;
}

.profile,
.content {
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  transition: 0.5s ease;
}

/* .profile{
  position: absolute;
  top: 100px;
  bottom: auto;
  left: 0;
  right: 0;
  min-height: 100%;
  height: auto;
  width: 75%;
  margin: 20px auto;
  margin-bottom: 100px;
  background-color: #fff;
  border-top: 5px solid #014b11;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2.5px 5px #ccc;
} */
.content {
  /* position: absolute; */
  /* min-height: 400%; */
  /* height: 300%; */
  width: 150%;
  /* margin: 2.5% auto; */
  margin-left: 330px;
  /* right: 0; */
  margin-top: 50px;
  margin-bottom: 50px;
  /* border: 1px solid #eee; */
  box-shadow: #0f0f10;
  background: linear-gradient(to right, #f0dbde, #e3eeff);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

span.photo {
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 5px;
  margin: 10px 0 2.5px;
  display: block;
  top: 10%;
  left: 10%;
  overflow: hidden;
  background: #ddd
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHx_2pJec8PilPAg96vjug6wrW4FeAaUcBSw&usqp=CAU");
  background-size: 100%;
  border-radius: 100%;
}

span.photo:after {
  content: " Add Profile Pic ";
  text-align: center;
  position: absolute;
  left: 0;
  z-index: 2;
  padding: 35% 0 65%;
  height: 0;
  width: 100%;
  opacity: 0;
  color: #222;
  background-color: rgba(0, 0, 0, 0.25);
  background-size: 100%;
  transition: 0.35s ease-in-out;
  overflow: hidden;
  border-radius: 100%;
}

.btn {
  /* position: absolute; */
  top: 45%;
  left: 25%;
  /* color: #fff; */
  /* background-color: rgba(57,203,88,0.65); */
  background-color: #e1c2c6;
  padding: 10px 15px;
  border-radius: 3px;
  box-shadow: inset 0 0 0 2px #f0dbde, 0 2px 0 0 #e5a1ab;
  cursor: pointer;
  transition: 0.5s ease;
}

fieldset textarea,
input {
  font-family: Open Sans;
  font-size: 15px;
  color: rgb(142, 10, 10);
  background-color: #f7f7f7;

  padding: 5px;
  width: 75%;
  margin: 5px auto;
  border: 0;
  border-radius: 2.5px;
  outline: 0;
  transition: 0.3s ease;
}
fieldset textarea {
  min-height: 40px;
  max-height: 60px;
}
fieldset textarea:hover,
input:hover {
  box-shadow: 0 0 0 1px #eb8191;
  background-color: #fff;
}
fieldset textarea:focus,
input:focus {
  box-shadow: 0 0 0 1px #8bb3f0, inset 0 2px 5px -1px rgba(0, 0, 0, 0.25);
}

.grid-35 {
  width: 35%;
  float: left;
  font-weight: 500;
  color: #003c96;
  /* text-align: left; */
}
.grid-65 {
  position: relative;
  width: 65%;
  float: right;
  font-family: Source Sans Pro;
  font-weight: 300;
  font-size: 17px;
}

.content h1 {
  text-align: center;
  color: #628ecf;
  font-family: Lato;
  font-size: 35px;
  font-weight: 500;
  margin: 5px auto 15px auto;
}

select {
  width: 80%;
  padding: 7px 10px;
  background-color: #f5f5f5;
  border: 1px solid #9c0000;
  border-radius: 2.5px;
  outline: 0;
}

fieldset {
  text-align: center;
  margin-bottom: 5px;
  padding: 5px;
  box-sizing: border-box;
  border: #ffffff;
}

fieldset:last-child {
  border-bottom: none;
}

input.Btn {
  width: 48%;
  float: left;
  display: block;
  margin: 40px auto;
  margin-left: 1%;
  padding: 15px 0;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  background-color: #ce3d3d;
  box-shadow: #bd2e2e;
  transition: 0.5s ease;
}
input.Btn:hover {
  background-color: #c13b3b;
}

@media only screen and (min-width: 768px) {
  .profile {
    width: 450px;
  }
  .search {
    float: none;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  /*Tablet*/
  .profile {
    width: 70%;
  }
  .search {
    top: 0;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 320px) and (max-width: 520px) {
  /*Phone*/
  .profile {
    width: 90%;
  }
}
