<!DOCTYPE html>
<html lang="en">
  <head>
    <style type="text/css">
    @charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}
    </style>

  <meta charset="UTF-8">
  

<meta name="apple-mobile-web-app-title" content="CodePen">


  <title>\Phone Book \</title>
  
  
  <link rel="stylesheet" href="https://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css">
  
<style>
.panel{
        width: 80%;
        margin: 50px auto;
    }
    td:nth-of-type(1){
        width: 30%;
    }
    td:nth-of-type(2){
        width: 35%;
    }
    input[type="text"]{
        width:100%;
    }
    @media (min-width: 768px) and (max-width: 992px){
        .form-inline .form-control {
         width: 150px;   
        }  
    }
</style>

  <script>
  window.console = window.console || function(t) {};
</script>

  <script>
  if (document.location.search.match(/type=embed/gi))
   {
    window.parent.postMessage("resize", "*");
  }
</script>


</head>

<body translate="no" ng-app="addrBook" ng-controller="myCtrl" class="ng-scope">
  
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">           
                <div class="panel-title">
                <h3 class="text-center">Phone Book</h3>
                                
                </div>      
            </div>
            <div class="panel-body">
            <form class="form-horizontal ng-pristine ng-valid">
                <div class="form-group has-info has-feedback">
                    <label for="seacrh" class="col-sm-2 control-label">Search: </label>
                    <div class="col-sm-5">
                        <input type="text" name="search" ng-model="test" class="form-control ng-pristine ng-untouched ng-valid">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>                                            
                    </div>
                </div>
            </form> 
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                        <th>Contacts</th>
                        <th>Phone Number</th>
                        <th>Handle</th>
                    </tr>
                   </thead>
                   <tbody>
                    <!-- ngRepeat: x in info | filter:test --><tr ng-repeat="x in info | filter:test" class="ng-scope">
                        <td><span ng-hide="showMe($index)" class="ng-binding">Tom</span><input text="text" class="form-control input-sm ng-pristine ng-untouched ng-valid ng-hide" ng-model="x.name" ng-show="showMe($index)"></td>
                        <td><span ng-hide="showMe($index)" class="ng-binding">012-345-6789</span><input text="text" class="form-control input-sm ng-pristine ng-untouched ng-valid ng-hide" ng-model="x.tel" ng-show="showMe($index)"></td>
                        <td><a href="#" ng-click="removeItem()"><span class="glyphicon glyphicon-trash"></span>&nbsp;</a>/<a href="#" ng-click="change()" ng-hide="showMe($index)"> <span class="glyphicon glyphicon-edit"></span></a><a href="#" ng-click="save()" ng-show="showMe($index)" class="ng-hide">&nbsp;<span class="glyphicon glyphicon-ok"></span></a></td>
                    </tr><!-- end ngRepeat: x in info | filter:test --><tr ng-repeat="x in info | filter:test" class="ng-scope">
                        <td><span ng-hide="showMe($index)" class="ng-binding">Jerry</span><input text="text" class="form-control input-sm ng-pristine ng-untouched ng-valid ng-hide" ng-model="x.name" ng-show="showMe($index)"></td>
                        <td><span ng-hide="showMe($index)" class="ng-binding">012-345-6789</span><input text="text" class="form-control input-sm ng-pristine ng-untouched ng-valid ng-hide" ng-model="x.tel" ng-show="showMe($index)"></td>
                        <td><a href="#" ng-click="removeItem()"><span class="glyphicon glyphicon-trash"></span>&nbsp;</a>/<a href="#" ng-click="change()" ng-hide="showMe($index)"> <span class="glyphicon glyphicon-edit"></span></a><a href="#" ng-click="save()" ng-show="showMe($index)" class="ng-hide">&nbsp;<span class="glyphicon glyphicon-ok"></span></a></td>
                    </tr><!-- end ngRepeat: x in info | filter:test --><tr ng-repeat="x in info | filter:test" class="ng-scope">
                        <td><span ng-hide="showMe($index)" class="ng-binding">Philip</span><input text="text" class="form-control input-sm ng-pristine ng-untouched ng-valid ng-hide" ng-model="x.name" ng-show="showMe($index)"></td>
                        <td><span ng-hide="showMe($index)" class="ng-binding">012-345-6789</span><input text="text" class="form-control input-sm ng-pristine ng-untouched ng-valid ng-hide" ng-model="x.tel" ng-show="showMe($index)"></td>
                        <td><a href="#" ng-click="removeItem()"><span class="glyphicon glyphicon-trash"></span>&nbsp;</a>/<a href="#" ng-click="change()" ng-hide="showMe($index)"> <span class="glyphicon glyphicon-edit"></span></a><a href="#" ng-click="save()" ng-show="showMe($index)" class="ng-hide">&nbsp;<span class="glyphicon glyphicon-ok"></span></a></td>
                    </tr><!-- end ngRepeat: x in info | filter:test -->
                  </tbody>
                </table>
              </div>
            </div>
            <div class="panel-footer">
                <form class="form-inline ng-pristine ng-valid">
                    <div class="form-group">
                        <span>Name：</span>
                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="newName">
                    </div>
                    <div class="form-group">
                        <span>Tel：</span>
                        <input type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="newTel">
                    </div> 
                    <input type="button" class="btn btn-primary btn-sm" value="Add" ng-click="addItem()">       
                </form>            
            </div>
        </div>   

            
    </div>
    <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>

  <script src="https://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
      <script id="rendered-js">
var app = angular.module("addrBook", []);
app.controller("myCtrl", function ($scope) {
  $scope.info = [
  { name: "Tom", tel: "012-345-6789" },
  { name: "Jerry", tel: "012-345-6789" },
  { name: "Philip", tel: "012-345-6789" }];

  //查询联系人

  //新增联系人
  $scope.addMe = function () {
    return {
      name: $scope.newName,
      tel: $scope.newTel };

  };
  $scope.addItem = function () {
    for (var i = 0; i < $scope.info.length; i++) {if (window.CP.shouldStopExecution(0)) break;
      //对于重复联系人的警告处理
      if ($scope.info[i].name == $scope.addMe().name ||
      $scope.info[i].tel == $scope.addMe().tel) {
        alert("name or telphone number was repeated");
        return false;
      }
    }window.CP.exitedLoop(0);
    $scope.info.push($scope.addMe());
  };

  //删除联系人还有其他的方法
  $scope.removeItem = function () {
    $scope.info.splice(this.$index, 1);
  };
  // 修改联系人信息       
  $scope.change = function () {
    index = this.$index;
    $scope.showMe = function (indx) {
      if (indx == index) {
        return true;
      }
    };
  };
  $scope.save = function () {
    index = this.$index;
    $scope.showMe = function (indx) {
      if (indx == index) {
        return false;
      }
    };
  };
});
//# sourceURL=pen.js
    </script>

  




 
</body></html>