* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
	margin: 0;
	font-size: 100%;
	background: linear-gradient(to right, #f3e7e9,#e3eeff);
	font-family: "Monserrat", sans-serif;
}


h1,h2,h3,h4,h5,h6 {
	margin: 0;
	font-family: "Monserrat", sans-serif;;
}


p {
	margin: 0;
	letter-spacing: 1px;
	font-size: 0.9em;
	color:#595a5a
}

ul {
	margin: 0;
	padding: 0;
}

h3.tittle {
	color: #74abff;
	margin: 0;
	font-size: 3em;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.33);
}

.inner_sec_grids_info_w3ls {
	margin-top: 4em;
} 

.inner_page_agile {
	text-align: center;
	background: linear-gradient(to right,  #f3e7e9,#e3eeff);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	min-height: 255px;
	padding-top: 6em;
}

.inner_page_agile h3 {
	color: #628ecf;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.5em;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
	letter-spacing: 1px;
	font-family: "Monserrat", sans-serif;
}

.inner_page_agile p {
	color: #628ecf;
	letter-spacing: 6px;
	font-size: 0.9em;
	margin-top: 10px;
	font-family: "Monserrat", sans-serif;
} 
.services-breadcrumb_w3layouts {
	width: 100%;
	margin-top: -50px;
	border: none;
	padding: 1em 0;
	background:linear-gradient(to right, #f0dbde, #e3eeff , #ecc3c9);
    background-size:400% 400%;
    animation:services-breadcrumb_w3layouts 10s infinite ease-in-out;
}
@keyframes  services-breadcrumb_w3layouts{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100%  50%;
    }
    100%{
        background-position:0 50%;
    }
}

.services-breadcrumb_w3layouts ul li span {
	padding: 0 1.5em;
}


ul.short_w3ls li {
	list-style: none;
	display: inline-block;
  text-indent: 100px;
}

.inner_breadcrumb {
	width: 80%;
	margin: 0 auto;
}

ul.short_w3ls li a {
	color: #74abff;
	text-decoration: none;
}